body {
    background-color: #f8f5f5 !important;
}

section h2 {
    border-left: 5px solid #6e0e0e;
    padding-left: 10px;
    line-height: 1.5;
}

/* cegah tombol turun */
td:last-child {
    white-space: nowrap;
}

/* Override kecil di atas Bootstrap agar tetap konsisten dengan warna brand SIMPUS-Mini */

.navbar-brand,
.nav-link {
    color: #ffffff !important;
}

.nav-link:hover,
.nav-link.active {
    color: #de918c !important;
}

form button[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #570909 !important;
}